* {
    margin: 0;
    padding: 0;
}

body {
    color:#383e45;
    font-size: 0.9rem;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 900px;
    margin: 10px auto 10px auto;
    padding: 0 4%;
    text-align: center;
}

.site-title {
    width: 160px;
    background-color:black;
    color: #fff;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
}

.header ul li {
    margin-left: 40px;
}

.header ul li a {
    color: #24292e;
}

.mainvisual img {
    height: 600px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 80px;
}

.about img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 40px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-title {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: solid 1px black;
}

.content {
    margin-bottom: 80px;
}

.text  {
    text-align: left;
}

.bicycle ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.bicycle li {
    width: 30%;
    margin-bottom: 20px;
}

h3 {
    margin: 10px 0;
}

.footer {
    text-align: center;
    margin-bottom: 40px;
}

@media screen and (max-width:600px) {
    .about .content {
        flex-direction: column;
    }
    .bicycle ul {
        flex-direction: column;
    }
    .bicycle li {
        width: 100%;
    }
}